{% extends 'base.html' %}
{% block main %}
<script type="text/javascript">
document.getElementById("site-header").style.display="none";
  })




</script>

    <article class="post post-{{ post.pk }}">
        <header class="entry-header">
            <h1 class="entry-title">{{ post.title }}</h1>
            <div class="entry-meta">
                <!--<span class="label label-primary"><a style="color:white" href="#">{{ post.category.category_name }}</a></span>
                --><span class="post-date"><div style='float:left'><ion-icon name="calendar" style="font-size:23px"></ion-icon></div><div><span style="padding-left:12px;">{{ post.created_time|date:"Y-m-d" }}</span></div></span>
            </div>

        </header>
        <div class="entry-content clearfix">
            {{ post.body|safe}}
        </div>

	<hr style="border-top: 2px solid #ddd;">
    </article>

<div data-v-6ddd02c6="" class="like"> <div data-v-6ddd02c6="" class="btn like-group"><div data-v-6ddd02c6="" class="btn-like"><a data-v-6ddd02c6="">喜欢</a></div> <div data-v-6ddd02c6="" class="modal-wrap"><a data-v-6ddd02c6="">97</a></div></div> <!----></div>









    {% ifnotequal comment_list.count 0 %}
        <div class="comment-list-panel">
            <h3>评论列表，共 <span>{{comment_list.count}}</span> 条评论</h3>
	   <ul class="comment-list list-unstyled">
  {% for comment in comment_list %}
  <li class="comment-item">
    <span class="nickname">{{ comment.name }}</span>
    <time class="submit-date">{{ comment.created_time }}</time>
    <div class="text">
      {{ comment.text }}
    </div>
  </li>
  {% endfor %}
</ul>
        </div>
  {%endifnotequal%}

    <section class="comment-area" id="comment-area">
        <hr>
        <h3>发表评论</h3>
<form action="{% url 'comments:post_comment' post.pk %}" method="post" class="comment-form">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-12">
      <label for="{{ form.text.id_for_label }}">评论：</label>
      {{ form.text }}
      {{ form.text.errors }}
      <button type="submit" class="comment-btn">发表</button>
    </div>

  </div>    <!-- row -->
</form>
    </section>
	<div style="height:20px;">
	</div>
{% endblock main %}
